In [2]:
import numpy as np
import pandas as pd
df = pd.read_json('quiz/books.json')
df

          제목   저자     가격  대출가능권수
0  데이터 분석 입문  김철수  18000       3
1  파이썬 프로그래밍  이영희  22000       5
2    머신러닝 기초  박민수  25000       2
3    인공지능 시대  최지연  30000       1
4  데이터베이스 개론  홍길동  20000       4

In [24]:
df = df.set_index('제목')

            저자     가격  대출가능권수
제목
데이터 분석 입문  김철수  18000       3
파이썬 프로그래밍  이영희  22000       5
머신러닝 기초    박민수  25000       2
인공지능 시대    최지연  30000       1
데이터베이스 개론  홍길동  20000       4

In [10]:
df.loc['가격']>20000
df

            저자     가격  대출가능권수
제목
파이썬 프로그래밍  이영희  22000       5
머신러닝 기초    박민수  25000       2
인공지능 시대    최지연  30000       1
데이터베이스 개론  홍길동  20000       4

In [12]:
df[df['대출가능권수'] =< 2]

          저자     가격  대출가능권수
제목
머신러닝 기초  박민수  25000       2
인공지능 시대  최지연  30000       1

In [16]:
df.sort_values('가격',ascending=False)

            저자     가격  대출가능권수
제목
인공지능 시대    최지연  30000       1
머신러닝 기초    박민수  25000       2
파이썬 프로그래밍  이영희  22000       5
데이터베이스 개론  홍길동  20000       4
데이터 분석 입문  김철수  18000       3

In [17]:
df.sort_values('대출가능권수',ascending=False)

            저자     가격  대출가능권수
제목
파이썬 프로그래밍  이영희  22000       5
데이터베이스 개론  홍길동  20000       4
데이터 분석 입문  김철수  18000       3
머신러닝 기초    박민수  25000       2
인공지능 시대    최지연  30000       1

In [18]:
print(df['가격'].mean())

23000.0

In [3]:
# 판다스의 read 함수로 csv 파일을 읽어서 데이터프레임으로 변환
# 변환을 하는 이유는 ? 안에 있는 데이터를 쉽게 꺼내기 위해서
df = pd.read_csv('sample/인천광역시_정류장별 이용승객 현황_20250731.csv', encoding='euc-kr')
df
# 특정 정류소의 하차건수 꺼내기
df.loc[0,'하차건수(카드)']

np.int64(4576)

In [45]:
df['총승차건수'] >= 100000
df[df['총승차건수'] >= 100000]

,정류소명,정류소아이디,총승차건수,총하차건수,승차건수(카드),하차건수(카드),승차건수(현금),일평균승하차건수
1798,동암남부역,40797,126437,108459,126437,108459,0,7577
1829,동인천역,35185,101169,46791,101169,46791,0,4772
1938,롯데백화점(인천터미널),37513,171449,155415,171449,155415,0,10544
1939,롯데백화점(인천터미널),39588,158171,116540,158171,116540,0,8861
3392,송내역남부,56002,140367,119838,140367,119838,0,8393
3671,시민공원역.포레나미추홀,37326,105656,20031,105656,20031,0,4054
5132,인하대역(7번출구),37091,106013,79294,106013,79294,0,5977
5501,주안역환승정류장,37617,112937,89282,112937,89282,0,6523

In [55]:
df['총하차건수'] = 0
df[df['총하차건수']== 0]

,정류소명,정류소아이디,총승차건수,총하차건수,승차건수(카드),하차건수(카드),승차건수(현금),일평균승하차건수
0,(구)주안2동치안센터,37302,7704,0,7704,4576,0,396
1,(주)경동세라믹스,89146,868,0,868,10,0,28
2,(주)경인양행앞,42096,1670,0,1670,1030,0,87
3,(주)경인양행앞,42097,2131,0,2131,5063,0,232
4,(주)대한특수금속,39050,1218,0,1218,150,0,44
...,...,...,...,...,...,...,...,...
6666,힐스테이트학익104동앞,37670,10904,0,10904,5985,0,544
6667,힐캐슬프라자,39329,13176,0,13176,19090,0,1040
6668,힐캐슬프라자,39331,20701,0,20701,10906,0,1019
6669,힘찬병원,40891,5907,0,5907,8183,0,454
6670,힘찬병원,40892,4912,0,4912,3424,0,268

In [52]:
df['승차건수(현금)'] >= 100
df[df['승차건수(현금)'] >= 100]

      정류소명  정류소아이디  총승차건수  총하차건수  승차건수(카드)  하차건수(카드)  승차건수(현금)  일평균승하차건수
346  강화터미널   43096  60873      0     60439     42403       434      3331

In [59]:
df['승차건수(현금)'] > df['승차건수(카드)']
df[df['승차건수(현금)'] > df['승차건수(카드)']]

         정류소명  정류소아이디  총승차건수  총하차건수  승차건수(카드)  하차건수(카드)  승차건수(현금)  일평균승하차건수
917   국화리야영장앞   43843      1      0         0        52         1         1
2942   상용진료소앞   90004      2      0         0        69         2         2
5149    인화성입구   90063      2      0         0        24         2         0

In [5]:
df = pd.read_csv('quiz/인천광역시 중구_공영주차장 현황_20250601.csv', encoding='utf-8')
df

,주차장관리번호,주차장명,주차장구분,주차장유형,소재지도로명주소,소재지지번주소,주차구획수,급지구분,부제시행구분,운영요일,...,1일주차권요금,월정기권요금,결제방법,특기사항,관리기관명,전화번호,위도,경도,장애인전용주차구역보유여부,데이터기준일자
0,161-2-000169,을왕리 공영주차장,공영,노외,인천광역시 중구 용유서로 297-3,인천광역시 중구 을왕동 711-3,138,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.444765,126.376048,Y,2025-06-01
1,161-2-000170,왕산 공영주차장,공영,노외,인천광역시 중구 용유서로423번길 4,인천광역시 중구 을왕동 776-14,186,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.455910,126.371510,Y,2025-06-01
2,161-2-000171,무의(광명항) 공영주차장,공영,노외,NaN,인천광역시 중구 무의동 50-18,180,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7797,37.379153,126.432902,Y,2025-06-01
3,161-1-000172,영종역일원(노상) 공영주차장,공영,노상,NaN,인천광역시 중구 운북동 464,103,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.510818,126.524106,Y,2025-06-01
4,161-1-000173,공항신도시 공영주차장,공영,노상,NaN,인천광역시 중구 운서동 2818,224,2,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.494289,126.481847,Y,2025-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,161-1-000011,신포로35번길제3노상주차장,공영,노상,인천광역시 중구 신포로39번길 15(송학동3가),인천광역시 중구 송학동3가 7-13,3,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472493,126.625052,N,2025-06-01
166,161-1-000012,신포로노상주차장,공영,노상,인천광역시 중구 송학로 42(내동),인천광역시 중구 내동 2-26,10,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.474643,126.627076,N,2025-06-01
167,161-1-000013,신포로35번길제4노상주차장,공영,노상,"인천광역시 중구 신포로35번길 54(송학동2가, 동국빌리지)",인천광역시 중구 송학동2가 16,19,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.473292,126.623605,N,2025-06-01
168,161-1-000014,신포로23번길제2노상주차장,공영,노상,인천광역시 중구 신포로23번길 52(중앙동3가),인천광역시 중구 중앙동3가 3-13,23,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472488,126.622474,N,2025-06-01
169,161-1-000015,신포로15번길제2노상주차장,공영,노상,인천광역시 중구 신포로23번길 52(중앙동3가),인천광역시 중구 중앙동3가 3-13,22,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472488,126.622474,N,2025-06-01

In [6]:
df['주차구획수'] >= 100
df[df['주차구획수'] >= 100]

,주차장관리번호,주차장명,주차장구분,주차장유형,소재지도로명주소,소재지지번주소,주차구획수,급지구분,부제시행구분,운영요일,...,1일주차권요금,월정기권요금,결제방법,특기사항,관리기관명,전화번호,위도,경도,장애인전용주차구역보유여부,데이터기준일자
0,161-2-000169,을왕리 공영주차장,공영,노외,인천광역시 중구 용유서로 297-3,인천광역시 중구 을왕동 711-3,138,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.444765,126.376048,Y,2025-06-01
1,161-2-000170,왕산 공영주차장,공영,노외,인천광역시 중구 용유서로423번길 4,인천광역시 중구 을왕동 776-14,186,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.455910,126.371510,Y,2025-06-01
2,161-2-000171,무의(광명항) 공영주차장,공영,노외,NaN,인천광역시 중구 무의동 50-18,180,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7797,37.379153,126.432902,Y,2025-06-01
3,161-1-000172,영종역일원(노상) 공영주차장,공영,노상,NaN,인천광역시 중구 운북동 464,103,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.510818,126.524106,Y,2025-06-01
4,161-1-000173,공항신도시 공영주차장,공영,노상,NaN,인천광역시 중구 운서동 2818,224,2,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.494289,126.481847,Y,2025-06-01
8,161-2-000155,차이나타운공영주차장,공영,노외,인천광역시 중구 차이나타운로44번길 28-12,인천광역시 중구 북성동2가 12-36,186,1,미시행,평일+토요일+공휴일,...,10000.0,100000.0,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.476054,126.618355,Y,2025-06-01
9,161-2-000157,월미도제2공영주차장,공영,노외,NaN,인천광역시 중구 북성동1가 97-32,136,2,미시행,평일+토요일+공휴일,...,6000.0,60000.0,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.477431,126.598529,Y,2025-06-01
16,161-2-000165,동화마을공영주차장,공영,노외,인천광역시 중구 제물량로 307-1,인천광역시 중구 송월동2가 4,100,1,미시행,평일+토요일+공휴일,...,10000.0,NaN,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.479024,126.618624,Y,2025-06-01
19,161-3-000168,중구청사 부설주차장,공영,부설,인천광역시 중구 신포로27번길 80,인천광역시 중구 관동1가 9-1,159,1,요일제,평일+토요일+공휴일,...,10000.0,NaN,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.474081,126.621340,Y,2025-06-01
31,161-2-000148,구인천여고공영주차장,공영,노외,인천광역시 중구 참외전로 100,인천광역시 중구 전동 2-5,102,3,미시행,평일+토요일+공휴일,...,4000.0,40000.0,현금+신용카드,NaN,인천광역시 중구청,032-579-2701,37.477113,126.629501,Y,2025-06-01
45,161-2-000131,인하대병원사거리공영주차장,공영,노외,인천광역시 중구 아암대로 12(신흥동3가),인천광역시 중구 신흥동3가 7-317,101,2,미시행,평일+토요일+공휴일,...,6000.0,60000.0,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.459986,126.637497,Y,2025-06-01
58,161-2-000114,한중문화관공영주차장,공영,노외,NaN,인천광역시 중구 항동2가 1-1,109,1,미시행,평일+토요일+공휴일,...,10000.0,100000.0,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.473104,126.619040,Y,2025-06-01
64,161-2-000120,해양광장공영주차장,공영,노외,인천광역시 중구 연안부두로36,인천광역시 중구 항동7가 58-1,220,1,미시행,평일+토요일+공휴일,...,10000.0,100000.0,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.455496,126.601827,Y,2025-06-01

In [7]:
df['평일운영종료시각'] = 21:00
df[df['평일운영종료시각'] == 21:00]

SyntaxError: invalid syntax (1909209703.py, line 1)

In [8]:
df['요금정보'] = '무료'
df[df['요금정보'] == '무료']

,주차장관리번호,주차장명,주차장구분,주차장유형,소재지도로명주소,소재지지번주소,주차구획수,급지구분,부제시행구분,운영요일,...,1일주차권요금,월정기권요금,결제방법,특기사항,관리기관명,전화번호,위도,경도,장애인전용주차구역보유여부,데이터기준일자
0,161-2-000169,을왕리 공영주차장,공영,노외,인천광역시 중구 용유서로 297-3,인천광역시 중구 을왕동 711-3,138,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.444765,126.376048,Y,2025-06-01
1,161-2-000170,왕산 공영주차장,공영,노외,인천광역시 중구 용유서로423번길 4,인천광역시 중구 을왕동 776-14,186,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.455910,126.371510,Y,2025-06-01
2,161-2-000171,무의(광명항) 공영주차장,공영,노외,NaN,인천광역시 중구 무의동 50-18,180,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7797,37.379153,126.432902,Y,2025-06-01
3,161-1-000172,영종역일원(노상) 공영주차장,공영,노상,NaN,인천광역시 중구 운북동 464,103,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.510818,126.524106,Y,2025-06-01
4,161-1-000173,공항신도시 공영주차장,공영,노상,NaN,인천광역시 중구 운서동 2818,224,2,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.494289,126.481847,Y,2025-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,161-1-000011,신포로35번길제3노상주차장,공영,노상,인천광역시 중구 신포로39번길 15(송학동3가),인천광역시 중구 송학동3가 7-13,3,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472493,126.625052,N,2025-06-01
166,161-1-000012,신포로노상주차장,공영,노상,인천광역시 중구 송학로 42(내동),인천광역시 중구 내동 2-26,10,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.474643,126.627076,N,2025-06-01
167,161-1-000013,신포로35번길제4노상주차장,공영,노상,"인천광역시 중구 신포로35번길 54(송학동2가, 동국빌리지)",인천광역시 중구 송학동2가 16,19,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.473292,126.623605,N,2025-06-01
168,161-1-000014,신포로23번길제2노상주차장,공영,노상,인천광역시 중구 신포로23번길 52(중앙동3가),인천광역시 중구 중앙동3가 3-13,23,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472488,126.622474,N,2025-06-01
169,161-1-000015,신포로15번길제2노상주차장,공영,노상,인천광역시 중구 신포로23번길 52(중앙동3가),인천광역시 중구 중앙동3가 3-13,22,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472488,126.622474,N,2025-06-01

In [9]:
print(df['주차구획수'].sum())
print(df['주차구획수'].mean())

5494
32.31764705882353