## 3. 넘파이
markdown에서 줄바꿈을 할때는 스페이스 두번  
markdown에서 제목을 표시할때는 # 기호를 사용함  
#개수에 따라 글자 크기가 달라짐  
중요할수록 # 개수가 적음

넘파이란 ? 다차원 배열과 수학 함수를 제공하는 모듈(라이브러리)

3.1 ndarry  
다차원 배열  
다차원 배열의 특징 :   
1. 리스트와 비교했을때 계산 속도가 빠름  
2. 리스트와 달리 모든 요소의 타입이 같음

In [10]:
# 먼저 numpy 모듈 가져오기
# 외부에 있는 모듈 파일을 가지고 올때는 imprort
# 모듈의 이름이 길때는 별칭 붙이기 as np
import numpy as np

In [12]:
# 넘파이 배열 만들기
# 입력값 : 리스트
# 결과 : 넘파이 배열
a = np.array([1,2,3])
a
b = np.array(['a','b','c'])
b

array(['a', 'b', 'c'], dtype='<U1')

In [18]:
# 2차원 배열 생성
c = np.array(([1,2,3], [4,5,6]))
c
# 3행 3열 크기의 2차원 배열 생성
d = np.array(([1,2,3], [4,5,6],[7,8,9]))
d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [20]:
# 주석 단축키 : ctrl + /
# arrange : 숫자 여러개를 생성하는 함수
# 연속된 숫자 10개를 생성
# 개수만 넣으면 0부터 시작됨
a = np.arange(10)
# 1부터 10까지 생성
# 범위(시작,끝)
b = np.arange(1,11)
# 1부터 10까지 2씩 건너뛰면서 생성
c = np.arange(1,11,2)
a
b

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [27]:
arr_scores = np.array(([85,90,78,92,88]))
print(arr_scores)

[85 90 78 92 88]

In [28]:
arr_heights = np.array([160,165,170,175,180])
print(arr_heights)

[160 165 170 175 180]

In [29]:
arr_prices = np.array([1200,1500,1800,2100])
print(arr_prices)

[1200 1500 1800 2100]

In [30]:
arr_temps =  np.array([20,22,19,25,30])
print(arr_temps)

[20 22 19 25 30]

In [31]:
arr1 = np.arange(5)
print(arr1)

[0 1 2 3 4]

In [33]:
arr2 = np.arange(9)
print(arr2)

[0 1 2 3 4 5 6 7 8]

In [39]:
arr3 = np.arange(3,8)
print(arr3)

[3 4 5 6 7]

In [41]:
arr4 = np.arange(-2,3)
print(arr4)

[-2 -1  0  1  2]

In [43]:
# zeros : 배열을 생성하고 값을 0으로 초기화
# 10개 크기의 배열 생성
np.zeros(10)
# 2차원 배열 생성
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [44]:
# 1차원 배열 생성
# 파이썬의 리스트와 달리 넘파이 배열은 모든 원소의 자료형이 같다
a = np.array([1,2,3])
# 배열의 정보를 확인
print(a.dtype) # 자료형
print(a.ndim)  # 배열의 차원
print(a.shape) # 행열의 크기

int64
1
(3,)

In [48]:
# 2행 3열의 2차원 배열 생성
b = np.array(([1,2,3],[4,5,6]))
print(b.dtype)
print(b.ndim)
print(b.shape)

int64
2
(2, 3)

In [53]:
# 실수형 1차원 배열 생성
arr = np.array(([1.1,2.1,3.1]))
arr.dtype
# 배열의 형변환
#float -> int
arr2 = arr.astype(np.int32)
arr2
arr2.dtype

dtype('int32')

In [54]:
# 파이썬의 리스트 생성
lis = [1,2,3]
# 파이썬의 각 원소에 3씩 더하기
# 리스트의 원소에 하나씩 계산하려면 for문을 사용해야한다
for i in lis:
    print(i+3)

4
5
6

In [55]:
# 넘파이 배열 생성
# 넘파이 배열은 for문 없이 각 원소에 값을 계산할 수 있다 !
a = np.array([1,2,3])
# 각 원소에 3씩 더하기
a + 3

array([4, 5, 6])

In [56]:
a = np.array([1,2,3])
b = np.array([4,5,6])
# 두 원소 비교하기
a > b

array([False, False, False])

인덱스와 슬라이스

In [65]:
# 0~9 숫자 만들고 1차원 배열 생성
a = np.arange(10)
print(a)
# 배열의 원소 하나 꺼내기
a[1]
# 범위로 값 꺼내기 (슬라이스)
a[3:6]
# 원소 값 변경하기
# 두번째 원소의 값 변경하기
a[1] =99
a
# 특정 범위에 있는 값을 모두 변경하기
# 4,5,6 번째 데이터 변경
a[3:6] = 88
a

[0 1 2 3 4 5 6 7 8 9]

array([ 0, 99,  2, 88, 88, 88,  6,  7,  8,  9])

In [66]:
# 배열 전체 선택
# a 를 출력하는것과 같다
a[:]

array([ 0, 99,  2, 88, 88, 88,  6,  7,  8,  9])

In [67]:
# 슬라이스로 배열 전체를 선택하고 , 값 변경
a[:] = 999
a

array([999, 999, 999, 999, 999, 999, 999, 999, 999, 999])

In [72]:
arr = np.array([10,20,30,40,50])
# 배열의 첫번째 값을 꺼내서 출력하세요 
print(arr)
arr[0]

[10 20 30 40 50]

np.int64(10)

In [73]:
arr = np.array([10,20,30,40,50])
# 배열의 세번째 값을 꺼내서 출력하세요 
print(arr)
arr[2]

[10 20 30 40 50]

np.int64(30)

In [74]:
arr = np.array([10,20,30,40,50])
# 배열의 마지막 값을 꺼내서 출력하세요 
print(arr)
arr[4]

[10 20 30 40 50]

np.int64(50)

In [77]:
arr = np.array([10,20,30,40,50])
# 배열의 두번째 값을 200으로 바꾸세요
arr[1] = 200
print(arr)

[ 10 200  30  40  50]

In [78]:
arr = np.array([10,20,30,40,50])
# 배열의 네번째 값을 999로 바꾸세요
arr[3] = 999
print(arr)

[ 10  20  30 999  50]

In [80]:
arr = np.array(["가","나","다","라","마"])
# 배열의 두번째 값을 꺼내서 출력하세요
print(arr)
arr[1]

['가' '나' '다' '라' '마']

np.str_('나')

In [81]:
arr = np.array(["가","나","다","라","마"])
# 배열의 [4번째 값을 꺼내서 출력하세요
print(arr)
arr[3]

['가' '나' '다' '라' '마']

np.str_('라')

In [82]:
arr = np.array(["가","나","다","라","마"])
# 배열의 마지막값을 꺼내서 출력하세요
print(arr)
arr[4]

['가' '나' '다' '라' '마']

np.str_('마')

In [85]:
arr = np.array(["가","나","다","라","마"])
# 배열의 첫번째 값을 '하'로 바꾸세요
arr[0] = "하"
print(arr)

['하' '나' '다' '라' '마']

In [86]:
arr = np.array(["가","나","다","라","마"])
# 배열의 세번째 값을 '호'로 바꾸세요
arr[2] = "하"
print(arr)

['가' '나' '하' '라' '마']

In [94]:
arr = np.array([10,20,30,40,50,60,70])
# 배열의 처음 3개 값을 꺼내서 출력하세요
print(arr)
arr[:3]

[10 20 30 40 50 60 70]

array([10, 20, 30])

In [90]:
arr = np.array([10,20,30,40,50,60,70])
# 배열의 네번째부터 끝까지 값을 꺼내서 출력하세요
print(arr)
arr[3:]

[10 20 30 40 50 60 70]

array([40, 50, 60, 70])

In [92]:
arr = np.array([10,20,30,40,50,60,70])
# 배열의 두번째부터 다섯번째 값을 꺼내서 출력하세요
print(arr)
arr[1:5]

[10 20 30 40 50 60 70]

array([20, 30, 40, 50])

In [95]:
arr = np.array(["a","b","c","d","e","f","g"])
# 배열의 처음 3개 값을 꺼내서 출력하세요
print(arr)
arr[:3]

['a' 'b' 'c' 'd' 'e' 'f' 'g']

array(['a', 'b', 'c'], dtype='<U1')

In [97]:
arr = np.array(["a","b","c","d","e","f","g"])
# 배열의 네번째부터 끝까지 값을 꺼내서 출력하세요
print(arr)
arr[3:]

['a' 'b' 'c' 'd' 'e' 'f' 'g']

array(['d', 'e', 'f', 'g'], dtype='<U1')

In [98]:
arr = np.array(["a","b","c","d","e","f","g"])
# 배열의 두번째부터 다섯번째까지 값을 꺼내서 출력하세요
print(arr)
arr[1:6]

['a' 'b' 'c' 'd' 'e' 'f' 'g']

array(['b', 'c', 'd', 'e', 'f'], dtype='<U1')

2차원 배열의 인덱싱

In [100]:
# 3행 3열 2차원 배열 생성
arr = np.array([[1,2,3,],[4,5,6],[7,8,9]])
print(arr)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [102]:
# 2차원 배열의 인덱스
# 행 = 인덱스
# 열 = 컬럼
# 첫번째 행 꺼내기
arr[0]

array([1, 2, 3])

In [106]:
# 1 꺼내기
arr[0][0]
# 9 꺼내기
arr[2][2]
# 5 꺼내기
arr[1][1] 
# 혹은 
arr[1,1]

np.int64(5)

In [108]:
# 배열 원소의 값 바꾸기
# 0 -> 1
arr[0][0] = 0
arr
# 5 -> 0
arr[1][1] = 0
arr

array([[0, 2, 3],
       [4, 0, 6],
       [7, 8, 9]])

2차원 배열의 슬라이스

In [113]:
# 행 : 슬라이스 x 1번 행만 선택
# 열 : 0번 1번
arr [ 1 , 0:2]

array([4, 0])

In [121]:
arr =np.array([[10,20,30],[40,50,60,],[70,80,90]])
# 첫번째 행의 두번째 값을 꺼내서 출력하세요
arr [0][1]

np.int64(20)

In [122]:
arr =np.array([[10,20,30],[40,50,60,],[70,80,90]])
# 세번째 행의 첫번째 값을 꺼내서 출력하세요
arr [2][0]

np.int64(70)

In [148]:
arr =np.array([[10,20,30],[40,50,60,],[70,80,90]])
# 두번째 행 전체를 꺼내서 출력하세요
arr [1]

array([40, 50, 60])

In [149]:
arr =np.array([[10,20,30],[40,50,60,],[70,80,90]])
# 두번째 열 전체를 꺼내서 출력하세요
arr [:,1]

array([20, 50, 80])

In [146]:
arr =np.array([[10,20,30],[40,50,60,],[70,80,90]])
# 첫 번째 행의 세번째 값을 300으로 바꾸세요
arr [0][2] = 300
print(arr)

[[ 10  20 300]
 [ 40  50  60]
 [ 70  80  90]]

In [151]:
arr = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]])
# 두번째 행의 세번째 값을 꺼내서 출력하세요
arr [1,2]

np.int64(7)

In [154]:
arr = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]])
# 네번째 행의 첫번째 값을 꺼내서 출력하세요
arr [3,0]

np.int64(13)

In [156]:
arr = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]])
# 세번쩨 행을 전체를 꺼내서 출력하세요
arr [2]

array([ 9, 10, 11, 12])

In [158]:
arr = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]])
# 네번째 열을 전체를 꺼내서 출력하세요
arr [:,3]

array([ 4,  8, 12, 16])

In [160]:
arr = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]])
# 첫번째 행의 네번째 값을 100으로 바꾸세요
arr [0,3] = 100
print(arr)

[[  1   2   3 100]
 [  5   6   7   8]
 [  9  10  11  12]
 [ 13  14  15  16]]

In [161]:
arr =np.array([[10,20,30],[40,50,60,],[70,80,90]])
# 첫번째 행의 앞 2개 숫자를 꺼내서 출력하세요
arr [0,:2]

array([10, 20])

In [165]:
arr =np.array([[10,20,30],[40,50,60,],[70,80,90]])
# 두번재 행부터 세번째 행까지 전체를 꺼내서 출력하세요
arr [1:,:3]

array([[40, 50, 60],
       [70, 80, 90]])

In [170]:
arr =np.array([[10,20,30],[40,50,60,],[70,80,90]])
# 모든행에서 두번째와 세번째 열만 꺼내서 출력하세요
arr [:,1:3]

array([[20, 30],
       [50, 60],
       [80, 90]])

불리언 인덱스
인덱스란 ? 데이터의 위치

In [187]:
# 학생 배열 생성
students = np.array(['철수','영희','민수','철수','철수'])
# 학생들의 대출 이력
books = np.array ([['수학의 정석',7],['해리포터',10],['파이썬 입문',5],['한국사',5],['데미안',12]])

In [177]:
# 여기서 철수의 대출 이력만 조회하기
# 배열 == '비교값'
# 배열 전체에 철수를 비교
# 총 5번 비교하고 bool 배열 반환

arr= (students == '철수')
arr

array([ True, False, False,  True,  True])

In [178]:
# books 배열의 인덱스에 bool 배열 넣기
# true 에 해당하는 원소만 반환
# 조건에 맞는 원소를 꺼낼때 사용 !
books[students == '철수']

array([['수학의 정석', '7'],
       ['한국사', '5'],
       ['데미안', '12']], dtype='<U21')

In [181]:
print(students != '철수')
# 철수가 아닌 대출 이력 찾기
# true 에 해당하는 원소만 반환
books[students != '철수']

[False  True  True False False]

array([['해리포터', '10'],
       ['파이썬 입문', '5']], dtype='<U21')

In [190]:
# '수학의 정석'을 찾아서 제목을 '자바의 정석'으로 바꾸기
books == '수학의 정석'
# bool 배열로 원소를 찾고 값 교체
books[books == '수학의 정석'] ='자바의 정석'
books

array([['자바의 정석', '7'],
       ['해리포터', '10'],
       ['파이썬 입문', '5'],
       ['한국사', '5'],
       ['데미안', '12']], dtype='<U21')

In [195]:
# 대출 이력 중에서 철수가 아닌 항목을 찾고 
# 행 전체를 7로 바꾸기
students != '철수'
books[students != '철수'] = 7
books

array([['자바의 정석', '7'],
       ['7', '7'],
       ['7', '7'],
       ['한국사', '5'],
       ['데미안', '12']], dtype='<U21')

In [213]:
arr = np.array([10,20,30,40,50,60,70])
# 배열에서 30보다 큰 값만 꺼내서 출력하세요
arr[arr > 30]
print(arr[arr > 30])

[40 50 60 70]

In [214]:
arr = np.array([10,20,30,40,50,60,70])
# 배열에서 짝수값만 꺼내서 출력하세요
arr[arr % 2 == 0]
print(arr[arr % 2 == 0])

[10 20 30 40 50 60 70]

In [219]:
arr = np.array([10,20,30,40,50,60,70])
# 배열에서 50보다 큰 값을 모두 999로 바꾸세요
arr[arr > 50]=999
arr

array([ 10,  20,  30,  40,  50, 999, 999])

In [236]:
# 직원 이름 배열
employees = np.array(["짱구","철수","유리","맹구","훈이"])
# 직원별 월급 (만원단위)
salaries = np.array([250,320,280,400,150])
# 직원 이름과 월급은 대응

# 맹구의 급여 조회
employees == "맹구"
salaries[employees == "맹구"]
print ("맹구의 급여:",salaries[employees == "맹구"])

#  급여가 300민원 이상인 직원들의 이름을 출력하시오
salaries >= 300
employees[salaries >= 300]
print("급여가 300만원 이상인 직원:",employees[salaries >= 300])

# 급여가 200만원 미만인 직원들의 급여를 모두 200으로 올리세요
salaries < 200
salaries[salaries < 200] = 200
print("200만원 미만 급여 인상", salaries)

맹구의 급여: [400]
급여가 300만원 이상인 직원: ['철수' '맹구']
200만원 미만 급여 인상 [250 320 280 400 200]

3.2 배열의 모양 바꾸기

In [240]:
# 1~9 숫자가 담긴 1차원 배열 생성
# reshape : 배열의 형태를 바꾸는 함수
# 1차원 -> 2차원
# 3행 3열 크기의 배열로 변환
print(np.arange(1,10))
arr = np.arange(1,10).reshape(3,3)
arr

[1 2 3 4 5 6 7 8 9]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [242]:
# 1~16 숫자가 담긴 1차원 배열
# 1차원 -> 2차원
a = np.arange(1,17).reshape(4,4)
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [243]:
# 1~12 1차원 배열
# 이배열을 3행 4열로 배열로 변환
print(np.arange(1,13))
a = np.arange(1,13).reshape(3,4)
a

[ 1  2  3  4  5  6  7  8  9 10 11 12]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [246]:
# 0부터 11까지 숫자를 생성한 뒤 , 3행 4열로 바꾸세요
print(np.arange(0,12))
a = np.arange(0,12).reshape(3,4)
a

[ 0  1  2  3  4  5  6  7  8  9 10 11]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [248]:
# 1부터 16까지 숫자를 생성한 뒤 , 4행 4열로 바꾸세요
print(np.arange(1,17))
a = np.arange(1,17).reshape(4,4)
a

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [249]:
# 1부터 20까지 숫자를 생성한 뒤 , 5행 4열로 바꾸세요
print(np.arange(1,21))
a = np.arange(1,21).reshape(5,4)
a

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20]])

In [251]:
# 10부터 25까지 숫자를 생성한 뒤 , 4행 4열로 바꾸세요
print(np.arange(10,26))
a = np.arange(10,26).reshape(4,4)
a

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25]

array([[10, 11, 12, 13],
       [14, 15, 16, 17],
       [18, 19, 20, 21],
       [22, 23, 24, 25]])

3.3 난수를 생성하는 방법  
난수란 ? 랜덤값

In [253]:
# 랜던값 만들기
# 표준 정규 분포 : 표준 편차가 1인 그래프에서 랜덤값을 생성 (-3~3)
# 랜덤값 10개 생성
arr = np.random.standard_normal(size=10)
arr

array([ 0.76331953, -0.66244098,  2.27624463,  1.8199107 ,  0.15888274,
        0.92537702, -1.07795587,  1.21761406,  0.05632436, -0.10567703])

In [254]:
# 균일 분포 : 범위 0~1 , 모든 값이 같은 확률로 나옴
arr = np.random.uniform(size=10)
arr

array([0.59048081, 0.95668955, 0.15390112, 0.84471622, 0.25145442,
       0.87495667, 0.93201986, 0.31448997, 0.01800989, 0.66529001])

In [256]:
# 표준정규분포에서 랜던값 5개를 생성하세요
arr = np.random.standard_normal(size=5)
arr

array([-0.7820033 , -1.53179741,  0.96686967,  0.90922785,  3.77358203])

In [257]:
# 균일분포에서 랜덤값 5개를 생성하세요
arr = np.random.uniform(size=5)
arr

array([0.91211425, 0.65519914, 0.63617921, 0.4039061 , 0.45744436])

3.4 유니버설 함수
반복문 없이 배열 전체에 계산을 해주는 함수

In [258]:
# 0~9 숫자가 담린 1차원 배열 생성
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [260]:
# 파이썬의 리스트는 for 문 사용하여 계산해야함
# 님파이의 배열은 fpr 문 없이 계산 가능
# 배열 전체에 3더하기
# add : 더하기
np.add(arr,3)

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [266]:
a = np.array([1,2,3,4,5])
b = np.array([3,4,5,6,7])

# 두배열을 비교하여 더 큰값 저장하기
np.maximum(a, b)

array([3, 4, 5, 6, 7])

조건문

In [269]:
# 배열 두개 만들기
a = np.array([1,2,3])
b = np.array([10,20,30])
# 불리언 배열 만들기 (조건)    
cond = np.array ([True,True,False])

In [271]:
# where (조건, 참일때 ,거짓일때) : 조건문 쓰기
# 조건이 참이면 a 에서 값을 선택 , 거짓이면 b 에서 선택
# where는 삼항연산자와 비슷

result = np.where(cond,a,b)
result

array([ 1,  2, 30])

In [279]:
# 1차원 배열 생성
arr = np.array([-2, -1 ,0 , 1, 2])

# 양수면 'o' 음수면 'x' 로 반환
# 조건 , 참일때 값 , 거짓일때값
# 조건이 true 면 o , false 면 x 를 선택
print(arr > 0 )
np.where(arr > 0,'o','x')

[False False False  True  True]

array(['x', 'x', 'x', 'o', 'o'], dtype='<U1')

In [286]:
# 배열 [5,12,7,20,3]에서
# 10보다 크면 '100' , 10이하면 '0'으로 바꾸세요
arr = np.array([5,12,7,20,3])
print(arr > 10 )
np.where(arr > 10,'100','0')

# 배열 [15,8,22,6,13] 에서
# 짝수면 1 , 홀수면 - 1로 바꾸세요
arr = np.array([15,8,22,6,13])
print(arr % 2 == 0  )
np.where(arr % 2 == 0 ,'1','-1')

# 배열 [10,20,30,40,50] 과 [1,2,3,4,5] 를 만들고
# 조건 배열 [True,False,True,Falese,True] 를 사용해
# 조건이 True 일때는 첫번재 배열 값 , False일때는 두번째 배열값을 선택하세요
arr1 = np.array([10,20,30,40,50])
arr2 = np.array([1,2,3,4,5])
cond = np.array([True,False,True,False,True])
result = np.where(cond, arr1, arr2)
print(result)

[False  True False  True False]
[False  True  True  True False]
[10  2 30  4 50]

통계를 구할 때 자주 사용하는 함수들  
(최대 최소 합계 평균)

In [290]:
# 파이썬 리스트 생성
lis = [1,2,3,4,5]
# 리스트의 총합을 구하세요
sum = 0
for i in lis:
    sum = sum + i
print(sum)
# 리스트의 평균을 구하세요
print(sum/len(lis))

15
3.0

In [294]:
# 넘파이 배열로 합계와 평균 구하기
arr = np.array([1,2,3,4,5])
print(np.sum(arr))
print(np.mean(arr))
# 배열에서 제일 큰 값
print(np.max(arr))
# 배열에서 제일 작은 값
print(np.min(arr))

15
3.0
5
1

In [303]:
arr1=np.array(["김밥","라면","떡볶이","치킨"])
arr2=np.array([250,500,400,800])

# 하루 먹은 음식의 총 kcal 은 ?
print("총:",np.sum(arr2),"kcal")

# 음식 4개의 평균 kcal ?
print("평균:",np.mean(arr2),"kcal")

# 칼로리가 가장 높은 음식은 몇 kcal ?
print("칼로리가 가장 높은 음식:",np.max(arr2),"kcal")

# 칼로리가 가장 낮은 음식은 몇 kcal ?
print("칼로리가 가장 낮음 음식:",np.min(arr2),"kcal")

총: 1950 kcal
평균: 487.5 kcal
칼로리가 가장 높은 음식: 800 kcal
칼로리가 가장 낮음 음식: 250 kcal

In [306]:
arr1=np.array(["월","화","수","목","금","토","일"])
arr2=np.array([30,45,60,20,40,50,35])

# 일주일동안 총 운동시간
print("총 운동시간:",np.sum(arr2),"분")
# 하루 평균 운동 시간
print("하루 평균 운동시간:",np.mean(arr2),"분")
# 가장 오래 운동한 날은 몇분 ?
print("가장 오래 운동한날: ",np.max(arr2),"분")
# 가장 짧게 운동한 날은 몇분 ?
print("가장 짧게 운동한날:",np.min(arr2),"분")

총 운동시간: 280 분
하루 평균 운동시간: 40.0 분
가장 오래 운동한날:  60 분
가장 짧게 운동한날: 20 분

행 / 열 단위로 합계 구하기

In [311]:
arr = np.arange(1,10).reshape(3,3)
arr
# 배열의 합계 구하기
arr.sum()
# 2차원 배열에서 행 또는 열 방향으로 합 구하기
# axis:0 -> 세로방향으로 합 계산
arr.sum(axis=0)
# axis:1 -> 가로방향으로 합 계산
arr.sum(axis=1)

array([ 6, 15, 24])

In [313]:
# 누적값 구하기 
arr =np.array([1,2,3,4,5])
arr.cumsum()

array([ 1,  3,  6, 10, 15])

In [318]:
# 2차원 배열 생성
arr=np.array([[0,1,2],[3,4,5],[6,7,8]])
print(arr)
# 2차원 배열의 누적값 구하기
# 기준 설정(세로방향, 위->아래)
print(arr.cumsum(axis=0))
# 가로방향 (왼쪽 -> 오른쪽)
print(arr.cumsum(axis=1))

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[ 0  1  2]
 [ 3  5  7]
 [ 9 12 15]]
[[ 0  1  3]
 [ 3  7 12]
 [ 6 13 21]]