### 5. 데이터불러오기와 간단한 분석까지

In [66]:
# 필요한 모듈 불러오기
import numpy as np
import pandas as pd

### 5.1 파일 다루기  
<small>
csv, json  <br>  
</small>
csv 파일 불러오기

In [4]:
# 판다스를 사용해서 csv 파일 불러오기
# read_csv(파일의 경로)
# 상대경로/절대경로
# 현재 나의 위치 : python-data-study
# 찾고자 하는 파일 : sample.csv
# read_csv 는 csv 파일을 읽어서 데이터 프레임으로 반환
df = pd.read_csv('sample/sample1.csv') # 상대경로
df

   student_id  math  eng  kor
0         101    80   95   88
1         102    92   85   90
2         103    75   80   66

In [6]:
# 읽어온 데이터 속성 확인
# 행열 이름 확인
print(df.index)
df.columns
# 행 인덱스 : 자동으로 정수 인덱스가 설정됨
# 열 컬럼 : 자동으로 첫번쨰 행이 컬럼으로 설정됨
# 학번을 인덱스로 설정
df.set_index('student_id')

RangeIndex(start=0, stop=3, step=1)

            math  eng  kor
student_id
101           80   95   88
102           92   85   90
103           75   80   66

cvs 파일 불러오기2

In [9]:
# sample 폴더 아래 2번쨰 csv 파일 불러오기
# 판다스 사용
# read_csv (절대경로 또는 상대경로)
# 현재 노트북 파일과 sample 폴더는 같은 경로에 있음
# 파일에 한글이 포함되어 있으면 , 한글을 지원하는 인코딩 설정
# 한글을 지원하는 인코딩 : utf-8,euc-kr
df = pd.read_csv('sample/sample2.csv',encoding='euc-kr')
print(df)
# 나중에 데이터를 쉽게 조회/수정/삭제 하기 위해
# 상품명을 행 인덱스로 설정 ! 
df.set_index('상품명')
# 행/열 이름 확인
print(df.index)
print(df.columns)

   상품명       가격  재고
0  노트북  1200000   5
1  키보드    29000  20
2  마우스    19000  15
RangeIndex(start=0, stop=3, step=1)
Index(['상품명', '가격', '재고'], dtype='object')

In [13]:
# 다시 2번쨰 csv 파일 불러오기
# cvs 파일에 한글이 포함이 되어있으면, 한글 인코딩 설정 필요
# reda_csv(파일이름 , [인코딩])
df = pd.read_csv('sample/sample2.csv',encoding='euc-kr')
print(df)
# 상품명 컬럼을 유지하면서
# 상품명을 행인덱스로 설정하기

   상품명       가격  재고
0  노트북  1200000   5
1  키보드    29000  20
2  마우스    19000  15

### 5.3 데이터베이스 연결하기  
<small>설치형 데이터 베이스 : mpsql,oracle..<br>
파일형 데이터 베이스는 sqlite<br>
파일형 데이터 베이스는 파일만 있으면 어디서든 열 수 있따 ! <br> </small>

데이터 베이스 연결 및 테이블 생성

In [57]:
# 모듈 불러오기
import sqlite3

In [58]:
# 데이터베이스 연결 또는 생성
# commect(데이터 베이스 이름)
con = sqlite3.connect('mydata.sqlite')

In [60]:
# 학생의 정보를 저장할 테이블 생성
# 데이터 베이스 명령 : sql(쿼리)
# create
# insert select update delete
# con.execute('CREATE TABLE student(id INTEGER, name TEXT, age INTEGER)')
# 테이블에 데이터 추가
con.execute("INSERT INTO student VALUES (1,'둘리',25)")
con.execute("INSERT INTO student VALUES (2,'도우너',30)")
con.commit()

단건 데이터 조회

In [62]:
# 1번 학생만 조회
cur = con.execute('SELECT * FROM student WHERE id = 1')
# 쿼리 결과 확인
row = cur.fetchone()
row

(1, '둘리', 25)

#### 5.3 공공테이터 활용하기  
인천 지역의 9/14 날씨 데이터 가져오기

In [79]:
# csv 파일을 읽어서 데이터 프레임으로 반환
df = pd.read_csv('sample/OBS_ASOS_TIM_20250916161050.csv',encoding ='euc-kr')
# 행열 이름은 자동으로 설정
# 행은 정수, 열은 csv 의 첫번째 행
df.columns

Index(['지점', '지점명', '일시', '기온', '습도'], dtype='object')

하루 평균 기온과 습도 구하기

In [82]:
# 기온
avg1 = int(df['기온'].mean())
avg2 = int(df['습도'].mean())
print(f'9/14 평균 기온 : {avg1}(c)')
print(f'9/14 평균 습도 : {avg2}(%)')

9/14 평균 기온 : 24(c)
9/14 평균 습도 : 78(%)

하루중에 제일 더웠던 시간은 ?

In [89]:
# idmax : 가장 큰 값이 포함되어 있는 행의 번호
i = df['기온'].idxmax()
# 현재 행의 이름과 위치가 같음
df.loc[i]

지점                  112
지점명                  인천
일시     2025-09-14 15:00
기온                 27.7
습도                   65
Name: 14, dtype: object