In [11]:
import numpy as np
import pandas as pd

df = pd.read_csv('quiz/products.csv')
print(df)

   상품명    가격  재고
0   사과  3000  10
1  바나나  2000  20
2   포도  4000  15
3   딸기  5000   8

In [12]:
df = df.set_index('상품명')
df.index

Index(['사과', '바나나', '포도', '딸기'], dtype='object', name='상품명')

In [13]:
# 데이터 프레임에서 값을 꺼내는 방법 : loc iloc[]
# loc[이름] iloc[위치] [이름]
# 행열을 선택하여 원소 하나 꺼내기
# 사과의 가격
df.loc['사과','가격']

np.int64(3000)

In [14]:
df.loc['바나나','재고']

np.int64(20)

In [15]:
df.loc['포도','가격'] = 4500
df

       가격  재고
상품명
사과   3000  10
바나나  2000  20
포도   4500  15
딸기   5000   8

In [16]:
df.loc['딸기','재고'] = 10
df

       가격  재고
상품명
사과   3000  10
바나나  2000  20
포도   4500  15
딸기   5000  10

In [20]:
df = pd.read_csv('quiz/sales.csv',encoding ='euc-kr')
print(df)

  month  sales  profit
0    1월   1000     200
1    2월   1500     300
2    3월   2000     400
3    4월   2500     500

In [21]:
df = df.set_index('month')
df.index

Index(['1월', '2월', '3월', '4월'], dtype='object', name='month')

In [26]:
# sales 컬럼 전체 출력
# loc iloc []
df['sales']

month
1월    1000
2월    1500
3월    2000
4월    2500
Name: sales, dtype: int64

In [29]:
# 2월의 전체 데이터 출력
# lok loicr
df.loc['2월',:]

sales     1500
profit     300
Name: 2월, dtype: int64

In [32]:
# 이윤(profit)의 합계와 평균을 구하세요
df['profit']
# 통계 함수 (sum, mean, max, min)
# numpy 의 다차원 배열과 pandas 시리즈 . 데이터 프레임은 모두 
# 통계함수을 사용할 수 있다 !
type(df['profit'])
# profit 커럼의 합계와 평균 구하기
print(df['profit'].sum())
print(df['profit'].mean())

1400
350.0

In [36]:
# 이윤이 300 이상인 행만 출력하세요
# 조건식 만들기
# s. df는 for 없이 + = * / >< =  같은 연산을 반복 수행함
# bool 배열 반환
# s, df 는 인덱스로 bool 배열을 사용할 수 있음
# 시리즈 >= int => 이때는 시리즈의 전체데이터에 비교가 적용
df['profit'] >= 300
# 시리즈에 bool 배열을 인ㄴ덱스로 사용
df[df['profit'] >300]

       sales  profit
month
3월      2000     400
4월      2500     500

In [58]:
df = pd.read_csv('quiz/weather.csv',encoding ='euc-kr')
print(df)
# 도시를 행이름으로 설정
df = df.set_index('city')
df

  city  spring  summer  winter
0   서울      15      28       2
1   부산      17      29       5
2   인천      14      27       3
3   대구      18      30       1

      spring  summer  winter
city
서울        15      28       2
부산        17      29       5
인천        14      27       3
대구        18      30       1

In [59]:
df.loc[:,'spring']

city
서울    15
부산    17
인천    14
대구    18
Name: spring, dtype: int64

In [60]:
df.loc['서울',:]

spring    15
summer    28
winter     2
Name: 서울, dtype: int64

In [54]:
type(df['winter'])
print(df['winter'].mean())

2.75

In [57]:
df['summer'] >= 28
df[df['summer'] >= 28]

  city  spring  summer  winter
0   서울      15      28       2
1   부산      17      29       5
3   대구      18      30       1

JSON 파일 불러오기 1  
<small>파이썬의 딕셔너리와 구조가 비슷<br>
json 파일을 파싱한다 => <br>
json 데이터를 파이썬에서 사용할 수 있는 형태로 변환한다
json 작성방법 : <br>
key:value<br>
objcet : {} <br>
list : []
</samll>

In [79]:
import json
# 파이썬 방식으로 파일 열기
f = open ('sample/sample3.json','r')
# json 모듈로 파일을 딕셔너리로 변환
dic = json.load(f)
dic

{'id': 101, 'name': 'alice', 'age': 30}

JSON 파일 불러오기 2

In [72]:
# 필요한 모듈 불러오기
import json

# 파이썬 방식으로 파일 불러오기
# 한글이 포함되어 있으면 인코딩 추가
f = open ('sample/sample4.json','r', encoding ='utf-8')
# json 모듈로 파일을 딕셔너려리로 변환
dic = json.load(f)
dic

{'name': '홍길동', 'age': 25, 'city': '서울'}

In [77]:
# 딕셔너리에서 키와 값 꺼내기
dic.items()
for key, value in dic.items():
    print(key,value)

name 홍길동
age 25
city 서울

JSON 파일 불러오기 3

In [85]:
# csv 파일 불러오기
f = open ('sample/sample5.json','r',encoding ='utf-8')
dic = json.load(f)
dic

[{'name': '홍길동', 'age': 25, 'city': '서울'},
 {'name': '김철수', 'age': 30, 'city': '부산'}]

In [106]:
# json 파일 불러오기 (2)
# 판다스를 사용해서 파일을 바로 dataframe 으로 변환
df = pd.read_json('sample/sample5.json')
df
# 데이터 꺼내기
# 홍길동의 나이
df.loc[0,'age']
# 김철수의 모든 데이터 꺼내기
df.loc[1]

name    김철수
age      30
city     부산
Name: 1, dtype: object

In [119]:
# 판다스로 json 파일 읽고 , 바로 데이터프레임으로 변환
df = pd.read_json('quiz/products.json')
df
# 상품명을 인덱스로 설정
df = df.set_index('상품명')
# 모든 상품명을 출력하세요
df.index
# 가격이 3천원 이상인 상품만 출력하세요
df['가격']>3000
df[df['가격']>3000]
# 모든 상품의 평균 가격을 구하세요
df['가격'].mean()
# 새로운 컬럼 총액(가격*재고)를 추가하세요
print(df['가격']*df['재고'])
# 새로운 열 = 시리즈
df['총합'] = df['가격'] * df['재고']
df
# 딸기의 가격을 6000원으로 수정하세요
df.loc['딸기','가격'] = 6000
df
# 재고 컬럼을 삭제하세요
# del drop
del df['재고']
df.drop('재고',axis=1)

상품명
사과     30000
바나나    40000
포도     60000
딸기     40000
dtype: int64

KeyError: "['재고'] not found in axis"

          제목   저자     가격  대출가능권수
0  데이터 분석 입문  김철수  18000       3
1  파이썬 프로그래밍  이영희  22000       5
2    머신러닝 기초  박민수  25000       2
3    인공지능 시대  최지연  30000       1
4  데이터베이스 개론  홍길동  20000       4

In [ ]:
df = n